*{
    margin: 0;
    padding: 0;
}

.padre{
    display: flex;
}

.caja1{
    margin: 25px;
    width: 220px;
    height: 300px;
    border: 5px solid red;
    background-color: rgb(10, 190, 130);
}

.caja2{
    margin: 25px;
    width: 220px;
    height: 300px;
    border: 5px solid red;
    background-color: #48e;
}

.caja3{
    margin: 25px;
    width: 220px;
    height: 300px;
    border: 5px solid red;
    background-color: orangered;
}
