*{
    margin: 0;
    padding: 0;
}

.texto{
    background: gray;
    padding: 20px;
}

.texto::first-line{
    color: blue;
    font-size: 2em;
}

form{
    margin: 100px auto;
    display: block;
    background-color: crimson;
    padding: 50px;
    width: 50%;
}

input{
    padding: 6px;
    width: 100%;
}

input::placeholder{
    color: red;
    background-color:yellow ;
}

p::selection{
    color: blue;
    background-color: orangered;
}

b::before{
    content: "Anuel es ";
    color: orangered;

}

b::after{
    content: "del TRAP";
    color: green;

}