*{
    margin: 0;
    padding: 0;
}

.caja{
    margin: 25px;
    width: 220px;
    height: 300px;
    border: 5px solid red;
    background-color: gold;
    cursor: pointer;
}

.caja:active{
    cursor: help;
}